# Core functionality - changes here should be rare!
/src/app.py                   @dnywlsn
/src/backend/database.py      @dnywlsn
/src/backend/routers/auth.py  @dnywlsn

# The frontend will need refactored soon to be more object oriented.
/src/static/   @dnywlsn

